.Tutorial{
    margin-top: 40px;
    background-color: #fff;
    width: 201vh;
    height: 500px;
}

.imagencontenedor{
    margin-left: 35rem;
    width: 462px;
    height: 450px;
    margin-top: 2rem;
}

.botonregistrate{
    background-color: #8BC34A;
    color: #fcfcfc;
    width: 250px;
    height: 50px;
    border-radius: 50%;
    padding: 7px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    /* margin-left: 35rem;   */  
    border: 1px solid #306139;

}

.botoninspirate{
    background-color: #f7f4f2;
    color: #306139;
    width: 250px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20rem;
    padding: 7px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 1rem;  
    margin-bottom: 10rem;
    border: 1px solid #FF7D27;
      
}
.imagencontenedor{

    width: 530px;
    height: 450px;
}
.videocontenedor{

    width: 500px;
    margin-top: -388px;
    margin-left: 15px;
}
