.Organizaciones {
  width: 100%;
  height: 100vh;
  border: 1px solid #272242;
  display: grid;
  place-items: center;
}
.h1 {
  width: 300px;
  color: #1b4956;
  margin-left: 20px;
  font-size: 2em;
  margin-top: 20px;
}
.h2 {
  width: 400px;
  color: aliceblue;
  margin-left: 20px;
  font-size: 1.2em;
  margin-top: 20px;
}

.container {
  width: 190vh;
  height: 78vh;
  background-color: #81b4af;
  border: 1px solid #272242;
  border-radius: 10px;
  overflow: hidden;
}

.containerImagen {
  width: 50%;
  height: 10%;
  margin-top: -430px;
  margin-left: 500px;
}
.botonexplorar{
    background-color: #f7f4f2;
    color: #306139;
    width: 250px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20rem;
    padding: 7px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 1rem;  
    margin-bottom: 10rem;
    border: 1px solid #FF7D27;
    margin-top: 20px;
}