.container{
    padding-top: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    color: var(--colorFuente);
}

.header h1{
    font-size: 2rem;
    font-weight: 700;
}

.header p{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.header h2{
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 700;
}

.cards{
    display: flex;
    gap: 4rem;
    margin: 2rem;
    
}

.card{
    cursor: pointer;
    width: 14rem;
    display: grid;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1.7rem;
    border-radius: 5px;
}

.card:hover{
    background-color: var(--colorClaro);
}

.card h2{
    font-size: 1.1rem;
    font-weight: 700;
}

.imgrol{
    width: 6rem;
    margin: auto;
    margin-bottom: 2rem;
}

.login{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.login:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    bottom: 0;
    left: 0;
    background-color: #000; /* Color del subrayado */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

}

.login:hover::after{
    visibility: visible;
    transform: scaleX(1);
}

@media (max-width: 768px){
    .cards{
        gap: 1rem;
        display: grid;
    }

    .card{
        display: flex;
        width: 22rem;
    }

    .card section {
        margin: 1rem;
    }

    .header p{
        margin: 0 20px;
    }
}
